.panel-candidate.panel-long
.desktop-table {
  border-color:
    rgba(255, 101, 114, 0.20);
}


.panel-candidate.panel-short
.desktop-table {
  border-color:
    rgba(59, 211, 154, 0.20);
}


.panel-long
.mobile-stock-card {
  border-color:
    rgba(255, 101, 114, 0.23);
}


.panel-short
.mobile-stock-card {
  border-color:
    rgba(59, 211, 154, 0.23);
}
